<div class="row mb-3">
  <div class="col-md-8">
    <%= form.text_field(:description_cont, placeholder: t('measure_units.index.description'), class: 'form-control') %>
  </div>
  <div class="col-md-4">
    <%= form.text_field(:abbreviation_cont, placeholder: t('measure_units.index.abbreviation'), class: 'form-control') %>
  </div>
</div>
