<div class="row">
  <div class="col-lg-6">
    <%= form.label(:description, class: 'required-label') %>
    <%= form.text_field(:description, class: 'form-control required') %>
  </div>
  <div class="col-lg-6">
    <%= form.label(:abbreviation, class: 'required-label') %>
    <%= form.text_field(:abbreviation, class: 'form-control required') %>
  </div>
</div>
