<div class="row">
  <div class="col-lg-6">
    <%= form.label(:kind_cd, class: 'required-label') %>
    <%= form.select(:kind_cd, User::Role::USER_ROLES, { include_blank: 'Selecione um tipo de perfil' }, { class: 'form-control required', required: true }) %>
  </div>
  <div class="col-lg-6">
    <%= form.label(:user_id, class: 'required-label') %>
    <%= form.select :user_id, users_collection, { include_blank: 'Selecione o usuário' }, { class: 'form-control required', required: true } %>
  </div>
</div>
