<div class="row col-lg-12 mt-3 mb-5">
  <div class="col-lg-6">
    <%= link_to(t('application.cancel'), url, class: 'btn -transparent-standard') %>
  </div>
  <div class="col-lg-6 mb-2">
    <button class="btn -bg-primary">
      <%= t("application.#{action}") %>
    </button>
  </div>
</div>
